//fonts
$fonts: Roboto, Helvetica, sans-serif;
$smallFont: 15px;
$bigFont: 30px;

//colors
$lightModeBackgroundColor: #1A1A1C;
$lightModeTextColor: #ffffff;
$darkModeBackgroundColor: #ffffff;
$darkModeTextColor: #000000;
$lightGrayText: #7B7B7B;