{extends "../@layout.latte"}
{block content}
    <div class="images">
    {foreach $albums as $i => $album}
        <a href="/album/{$album["dash_title"]}" class="imageWrapper">
            <div class="image album lazyload" id="image_{$i}" data-bg='images/thumbnail/{$album["cover_photo"]}'>
                <p>{$album["title"]}</p></div>
        </a>
    {/foreach}
    </div>
{/block}