<!DOCTYPE html>
<html lang="en-en">

<head>
    <base href="/DatabaseLayer"/>
    <meta charset="UTF-8"/>
    <title>
        {$page_title}
    </title>
    <meta name="page_description" content="{$page_description}"/>
    <meta name="keywords" content="{$page_keywords}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../../www/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../www/styles/style.css?v={time()}" type="text/css"/>
    <!-- minilazyload -->
    <script src="../node_modules/minilazyload/dist/minilazyload.min.js?v={time()}"></script>
    <!-- minilazyload -->
    <script src="../node_modules/axios/dist/axios.js?v={time()}" async></script>
    <script src="../../www/scripts/script.js?v={time()}"></script>
    <!--- fontawesome -->
    <script src="https://kit.fontawesome.com/748c10f0ee.js" crossorigin="anonymous"></script>
    <!-- fontawesome -->

</head>
<body>
<nav>
    <a class="h1" href="home">gareth jorden</a>
    <div>
        <a href="home">HOME</a>
        <a href="photos">PREVIEW</a>
        <a href="album">ALBUMS</a>
        <a href="contact">CONTACT</a>
    </div>
    <i class="fas fa-bars" id="navBarsButton"></i>
</nav>
<article>
    {include content}
</article>
</body>

</html>