<!DOCTYPE html>
<html lang="en-en">

<head>
    <base href="/DatabaseLayer"/>
    <meta charset="UTF-8"/>
    <title>
        {$page_title}
    </title>
    <meta name="page_description" content="{$page_description}"/>
    <meta name="keywords" content="{$page_keywords}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../../www/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../www/styles/style.css?v={time()}" type="text/css"/>
    <script src="../../www/scripts/script.js?v={time()}"></script>
    <!-- minilazyload -->
    <script src="../node_modules/minilazyload/dist/minilazyload.min.js?v={time()}"></script>
    <!-- minilazyload -->
    <script src="../node_modules/axios/dist/axios.js?v={time()}" async></script>

    <!--- fontawesome -->
    <script src="https://kit.fontawesome.com/748c10f0ee.js" crossorigin="anonymous"></script>
    <!-- fontawesome -->

</head>
<body>
<nav>
    <a class="h1" href="home">gareth jorden</a>
    <div>
        <a href="home">HOME</a>
        <a href="photos">PREVIEW</a>
        <a href="album">ALBUMS</a>
        <a href="contact">CONTACT</a>
    </div>
    <i class="fas fa-bars" id="navBarsButton"></i>
</nav>
<header>
    <div class="profile">
        <div>
            <div class="landing-page-container">
                <img class="profile-picture-mockup" src="images/fullview/{$profileImage}">
            </div>
        </div>
        <div>
            <div>
                <h1>{$bio["bio_title"]}</h1>
                <a class="fa fa-instagram" href="{$instagramLink}" target="_blank"></a>
                <a class="fa fa-twitter" href="{$twitterLink}" target="_blank"></a>
                <div class="toggleDiv">
                    <i class="fas fa-toggle-off fa-lg" id="darkmodeToggleButton"></i>
                    <p>Light Mode</p>
                </div>
            </div>
            <div>
                <p>{$bio["bio_description"]|noescape}</p>
            </div>
        </div>
    </div>
    <div class="highlights">
        <i class="fas fa-chevron-left" id="highlightsLeftButton"></i>
        {foreach $highlights as $highlight}
            <a href="album/{$highlight["dash_title"]}">
                <div class="img" style='background-image: url("../images/thumbnail/{$highlight["cover_photo"]}")'></div>
                <h2>{$highlight["title"]|truncate: 15}</h2>
            </a>
        {/foreach}
        <i class="fas fa-chevron-right" id="highlightsRightButton"></i>
    </div>
</header>
<article>
    {include content}
</article>
</body>
<script>
    /* DARKMODE */

    let bodyTag = document.querySelector("body");
    let darkmodeToggleButton = document.getElementById("darkmodeToggleButton");
    let isInDark = false;
    //alert("karel");
    let currentTheme = localStorage.getItem("theme") ? localStorage.getItem("theme") : null;
    //alert(currentTheme);
    if (currentTheme) {
        if (currentTheme === "dark") {
            setDarkmode();
        }
    }

    window.onload = () => {
        darkmodeToggleButton.addEventListener("click", setDarkmode);
    }

    function setDarkmode() {
        //alert("funkce")
        darkmodeToggleButton = document.getElementById("darkmodeToggleButton");
        darkmodeToggleButton.addEventListener("click", setDarkmode);
        bodyTag = document.querySelector(" body");
        //alert(bodyTag)
        //alert(localStorage)
        if (!isInDark) {
            //alert("!!!")
            darkmodeToggleButton.classList.replace("fa-toggle-off", "fa-toggle-on");
            bodyTag.classList.toggle("darkMode");
            isInDark = !isInDark;
            localStorage.setItem("theme", "dark");
        } else {
            //alert("???")
            darkmodeToggleButton.classList.replace("fa-toggle-on", "fa-toggle-off");
            bodyTag.classList.toggle("darkMode");
            isInDark = !isInDark;
            localStorage.setItem("theme", "light");
        }
    }
</script>
</html>